@use './utils/index' as ut;
@use './theme/dark' ;

.team {
    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    &-heading {
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.09;

    }

    &-buttom {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.42;
        color: ut.$primary-color ;
        background-color: var(--team-buttom-bg, #F0EFFB);
        border-radius: 8px;
        padding: 9px 16px;
    }

    table {
        width: 100%;
        overflow-x: auto;
    }

    thead th {
        text-align: left;
        padding-bottom: 24px;
    }

    tbody td {
        padding-top: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid var(--team-table-bt, #E4E4E4);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.42;
        color:var(--team-table-td2,ut.$gray1) ;
    }

    tbody td:nth-child(2) {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        color: var(--team-table-td2,#1B1D21);
    }
   

    &-table {
        overflow-x: auto;
        &-item {
            width: 20px;
            height: 20px;
            flex-shrink: 0;
            border: 1px solid ut.$gray2;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: transparent;

        }

        &-items {
            input {
                display: none;

                &:checked+.team-table-item {
                    color: white;
                    background: #6C5DD3;
                }

            }
        }
        &-buttom{
            max-width: 123px;
            color: #FF754C;
            padding: 3px 16px;
            border-radius: 4px;
            background: var(--table-td-lastchild,#FFF1ED);
        }

        @container mainContainer (max-width:900px){
            thead th,
            tbody td{
                white-space: nowrap;
                padding-left: 40px;
                padding-right: 40px;
            }
        }
    }
}