@use '../utils/index' as ut;

.nav {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 14px 24px;
    display: flex;
    gap: 27px;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid ut.$gray-natural4;
    background-color: var(--nav-color, white);

    &-cube{
        background-color: ut.$primary-color;
        position: absolute;
        top: -64px;
        right: 32px;
        padding: 8px;
        border-radius: 100rem;
        width: 40px;
        height: 40px;
       img{
        width: 24px;
        height: 24px;
       }
    }
    
    
    @media (min-width: 900px){
        
        display: none;
    }
}
