.subscriptions
 .subscriptions-heading 
  .subscriptions-title Your Subscriptions
  .subscriptions-sub-title Hear what the people you follow have posted:
 .subscriptions-list
  +subscriptionsItem("./images/subscriptions1.png")
  +subscriptionsItem("./images/subscriptions2.png")
  +subscriptionsItem("./images/subscriptions3.png")
  +subscriptionsItem("./images/subscriptions4.png")
  +subscriptionsItem("./images/subscriptions5.png")