@use '../../utils/index' as ut;


.trending {
    &-header-title {
        font-size: 1.08;
        font-style: normal;
        font-weight: 600;
        line-height: 26px;
        color: var(--trending-title, ut.$text-black1);
        padding-bottom: 39px;
    }

    &-posdcart {
        display: grid;
        gap: 22px;
        grid-auto-flow: column;
        grid-auto-columns: 60%;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        @container mainContainer (max-width:900px){
                gap: 410px;
            
        }

    }
   

    &-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #050F16;
        border-radius: 24px;
        gap: 16px;
        overflow: hidden;
        scroll-snap-align: center;
        scroll-snap-stop: always;
        flex-shrink: 0;
        flex-grow: 0;
        min-width: 628px;
       

        &-content {
            margin-left: 32px;
        }

        

    }


    &-title {
        color: white;
        font-size: 1.32;
        font-style: normal;
        font-weight: 600;
        line-height: 29px;
        margin-bottom: 9px;
    }

    &-episode {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.42;
        color: white;
        margin-bottom: 7px;
    }

    &-info {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        color: white;
    }

    &-play {
        display: flex;
        align-items: center;
        background-color: white;
        gap: 8px;
        padding: 8px 12px;
        width: 121px;
        height: 40px;
        border-radius: 8px;
        margin-top: 22px;

        span {
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.46;
            color: ut.$text-black1;

        }
    }

    &-buttom {
        display: flex;
        margin-top: 42px;
        gap: 10px;

    }

    &-buttom-item {
        background: var(--trending-button-bg, ut.$gray-natural2);
        padding: 8px 16px;
        border-radius: 8px;
        color: var(--trending-buttom-text, black);
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.46;

        &:hover {
            background-color: ut.$primary-color;
            color: white;
            transition: all 0.4s;
        }
    }




}