.episodes
 .episodes-header
  .episodes-left Episodes
  a(href="./episodes-upload.html").episodes-right 
   img(src="./images/cloud-upload.png", alt="")
   p Upload New Episodes
 .episodes-main 
  table 
   thead 
    tr 
     th 
      img(src="./images/uncheck.png", alt="")
     th Thumbnail
     th Name
     th Duration
     th Audio Status
     th Publish Date
     th Status
     th Action
   tbody 
    tr
     td
      img(src="./images/checkbox.png", alt="")
     td
      img(src="images/episodes-img.png", alt="")
     td
      .episodes-table-info 
       .episodes-table-name Change Your Brain: Neuroscientist Dr. Andrew Huberman
       .episodes-table-category Rich Roll Podcast
     td 02:10:25
     td Done
     td July 3, 2022 2:24
     td
      .episodes-table-status Published
     td
      .episodes-table-img 
       .episodes-table-img1
        img(src="./images/edit1.png", alt="")
       .episodes-table-img2
        img(src="./images/link.png", alt="")
    tr
     td
      img(src="./images/checkbox.png", alt="")
     td
      img(src="images/episodes-img1.png", alt="")
     td
      .episodes-table-info 
       .episodes-table-name Change Your Brain: Neuroscientist Dr. Andrew Huberman
       .episodes-table-category Rich Roll Podcast
     td 02:10:25
     td Done
     td July 3, 2022 2:24
     td
      .episodes-table-status Published
     td
      .episodes-table-img 
       .episodes-table-img1
        img(src="./images/edit1.png", alt="")
       .episodes-table-img2
        img(src="./images/link.png", alt="")
    tr
     td
      img(src="./images/checkbox.png", alt="")
     td
      img(src="images/episodes-img2.png", alt="")
     td
      .episodes-table-info 
       .episodes-table-name Change Your Brain: Neuroscientist Dr. Andrew Huberman
       .episodes-table-category Rich Roll Podcast
     td 02:10:25
     td Done
     td July 3, 2022 2:24
     td
      .episodes-table-status Published
     td
      .episodes-table-img 
       .episodes-table-img1
        img(src="./images/edit1.png", alt="")
       .episodes-table-img2
        img(src="./images/link.png", alt="")
    tr
     td
      img(src="./images/checkbox.png", alt="")
     td
      img(src="images/episodes-img2.png", alt="")
     td
      .episodes-table-info 
       .episodes-table-name Change Your Brain: Neuroscientist Dr. Andrew Huberman
       .episodes-table-category Rich Roll Podcast
     td 02:10:25
     td Done
     td July 3, 2022 2:24
     td
      .episodes-table-status Published
     td
      .episodes-table-img 
       .episodes-table-img1
        img(src="./images/edit1.png", alt="")
       .episodes-table-img2
        img(src="./images/link.png", alt="")
    tr
     td
      img(src="./images/checkbox.png", alt="")
     td
      img(src="images/episodes-img3.png", alt="")
     td
      .episodes-table-info 
       .episodes-table-name Change Your Brain: Neuroscientist Dr. Andrew Huberman
       .episodes-table-category Rich Roll Podcast
     td 02:10:25
     td Done
     td July 3, 2022 2:24
     td
      .episodes-table-status Published
     td
      .episodes-table-img 
       .episodes-table-img1
        img(src="./images/edit1.png", alt="")
       .episodes-table-img2
        img(src="./images/link.png", alt="")
    tr
     td
      img(src="./images/checkbox.png", alt="")
     td
      img(src="images/episodes-img4.png", alt="")
     td
      .episodes-table-info 
       .episodes-table-name Change Your Brain: Neuroscientist Dr. Andrew Huberman
       .episodes-table-category Rich Roll Podcast
     td 02:10:25
     td Done
     td July 3, 2022 2:24
     td
      .episodes-table-status Published
     td
      .episodes-table-img 
       .episodes-table-img1
        img(src="./images/edit1.png", alt="")
       .episodes-table-img2
        img(src="./images/link.png", alt="")
    tr
     td
      img(src="./images/checkbox.png", alt="")
     td
      img(src="images/episodes-img5.png", alt="")
     td
      .episodes-table-info 
       .episodes-table-name Change Your Brain: Neuroscientist Dr. Andrew Huberman
       .episodes-table-category Rich Roll Podcast
     td 02:10:25
     td Done
     td July 3, 2022 2:24
     td
      .episodes-table-status Published
     td
      .episodes-table-img 
       .episodes-table-img1
        img(src="./images/edit1.png", alt="")
       .episodes-table-img2
        img(src="./images/link.png", alt="")
        
      

