.top-podcast{
    &-img{
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 12px;
        img{
            aspect-ratio: 1;
            object-fit: cover;
            border-radius: 10px;
        }
    }
}