.statistics
 .statistics-header 
  .statistics-heading Your activity statistics
 .statistics-body 
  .statistics-item 
   .statistics-data  
    .statistics-data-left 
     img(src="./images/statisticsdata.png", alt="")
     span Today
    .statistics-data-right 
     img(src="./images/trend-up1.png", alt="")
     p 100%
   .statistics-progress 
    .statistics-progress-left 
     span 345
     p min
    .statistics-progress-right 
     p.statistics-progress-rectangle1
     span.statistics-progress-rectangle2
  .statistics-item 
   .statistics-data  
    .statistics-data-left 
     span Thursday
    .statistics-data-right 
     img(src="./images/trend-up1.png", alt="")
     p 100%
   .statistics-progress 
    .statistics-progress-left 
     span 345
     p min
    .statistics-progress-right 
     p.statistics-progress-rectangle1
     span.statistics-progress-rectangle2
  .statistics-item 
   .statistics-data  
    .statistics-data-left 
     span Friday
    .statistics-data-right 
     img(src="./images/trend-down1.png", alt="")
     p 10%
   .statistics-progress 
    .statistics-progress-left 
     span 345
     p min
    .statistics-progress-right 
     p.statistics-progress-rectangle1
     span.statistics-progress-rectangle2
  .statistics-item 
   .statistics-data  
    .statistics-data-left 
     span Friday
    .statistics-data-right 
     img(src="./images/trend-up1.png", alt="")
     p 98%
   .statistics-progress 
    .statistics-progress-left 
     span 345
     p min
    .statistics-progress-right 
     p.statistics-progress-rectangle1
     span.statistics-progress-rectangle2
   
