.audience
 .audience-header
  .audience-data
   .audience-data-left
    p Audience
    span 301,097
   +dropDownright
  .audience-growths
   .audience-growth 
    img(src="./images/trend-up.png", alt="") 
    span +1,253 (+15.32%)
   .audience-year for 1 years
 .audience-body
  .audience-chart 
   li.audience-chart-item
    .audience-column 
    .audience-month Jan
   li.audience-chart-item
    .audience-column 
    .audience-month Feb
   li.audience-chart-item
    .audience-column 
    .audience-month Mar
   li.audience-chart-item
    .audience-column 
    .audience-month Apr
   li.audience-chart-item
    .audience-column 
    .audience-month May
   li.audience-chart-item
    .audience-column 
    .audience-month Jun
   li.audience-chart-item
    .audience-column 
    .audience-month Jul
   li.audience-chart-item
    .audience-column 
    .audience-month Aug
   li.audience-chart-item
    .audience-column 
    .audience-month Sep
    .audience-rectangle
     img(src="./images/rectangle.png", alt="")
     .audience-rectangle2
      .audience-arrow  
       img(src="./images/arrow-up.png", alt="")
      p 278k
   li.audience-chart-item
    .audience-column 
    .audience-month Nov
   li.audience-chart-item
    .audience-column 
    .audience-month Dec         
 .audience-footer
  .audience-footer1
   .audience-footer-Subscribers
    .audience-footer-img
     img.audience-footer1-img(src="./images/ftimg1.png", alt="")
     p Subscribers
   .audience-footer-growth
    .audience-footer-growth-1 36k
    .audience-footer-data 
     img(src="./images/trend-up.png", alt="")
     span +1,243
  .audience-footer2
   .audience-footer-Subscribers
    .audience-footer-img
     img.audience-footer2-img(src="./images/ftimg2.png", alt="")
     p Total Plays
   .audience-footer-growth
    .audience-footer-growth-1 25k
    .audience-footer-data 
     img(src="./images/trend-up.png", alt="")
     span +1,243
  .audience-footer3
   .audience-footer-Subscribers
    .audience-footer-img
     img.audience-footer3-img(src="./images/ftimg3.png", alt="")
     p Total Plays
   .audience-footer-growth
    .audience-footer-growth-1 15.3m
    .audience-footer-data2 
     img(src="./images/ftimg5.png", alt="")
     span 10.0m
  
  
 
 
 