.subscribers
 .subscribers-header 
  .subscribers-heading New Subscribers
  .subscribers-view 
   p View All
   img(src="./images/View-All.png", alt="")
 .subscribers-list 
  +subscribersItem("./images/subscribers.png", "Follow")
  +subscribersItem("./images/subscribers11.png", "Follow")
  +subscribersItem("./images/subscribers2.png", "Followed")
  +subscribersItem("./images/subscribers22.png", "Follow")
   
