.profile 
 .profile-header 
  .profile-header-left 
   .profile-img 
    img(src="./images/profile1.png", alt="")
   .profile-info 
    .profile-name Thomas Fletcher
    .profile-profession Product Design
  .profile-header-right 
   .profile-edit 
    img(src="./images/edit.png", alt="")
 .profile-body
  .profile-introduction Hi, I’m Thomas. UI/UX Designer. I’ve always wanted my work to be part of a bigger self, to be bound with innovation and...
  .profile-date 
   img(src="./images/calendar.png", alt="")
   span Joined
   p Jun 4, 2021
 .profile-footer 
  a.profile-buttom
   img(src="./images/eye.png", alt="")
   p Public View
  