.TrendingEpisodes
 .TrendingEpisodes-data
    .TrendingEpisodes-data-left
     p Trending Episodes
     span Here’s your top 5 episodes in the last 7 days
    +dropDownright
 .TrendingEpisodes-body 
  table
   thead 
    tr
     th Episode
     th Avg. Listen Time
     th Plays
   tbody 
    tr  
     td
      .table-list 
       img.table-img(src="./images/image1.png", alt="")
       .table-title 
        .table-heading How to Make Money - (Ep:19)
        .table-time 
         p 31 min
         img(src="./images/cham1.png", alt="")
         p June 7, 2022
         img(src="./images/cham1.png", alt="")
         p Guest Farhan
     td
      span 34 min (65.2%)
     td
      span 45k
    tr  
     td
      .table-list 
       img.table-img(src="./images/image1.png", alt="")
       .table-title 
        .table-heading How to Make Money - (Ep:19)
        .table-time 
         p 31 min
         img(src="./images/cham1.png", alt="")
         p June 7, 2022
         img(src="./images/cham1.png", alt="")
         p Guest Farhan
     td
      span 34 min (65.2%)
     td
      span 45k
    tr  
     td
      .table-list 
       img.table-img(src="./images/image1.png", alt="")
       .table-title 
        .table-heading How to Make Money - (Ep:19)
        .table-time 
         p 31 min
         img(src="./images/cham1.png", alt="")
         p June 7, 2022
         img(src="./images/cham1.png", alt="")
         p Guest Farhan
     td
      span 34 min (65.2%)
     td
      span 45k
    tr  
     td
      .table-list 
       img.table-img(src="./images/image1.png", alt="")
       .table-title 
        .table-heading How to Make Money - (Ep:19)
        .table-time 
         p 31 min
         img(src="./images/cham1.png", alt="")
         p June 7, 2022
         img(src="./images/cham1.png", alt="")
         p Guest Farhan
     td
      span 34 min (65.2%)
     td
      span 45k
    tr  
     td
      .table-list 
       img.table-img(src="./images/image1.png", alt="")
       .table-title 
        .table-heading How to Make Money - (Ep:19)
        .table-time 
         p 31 min
         img(src="./images/cham1.png", alt="")
         p June 7, 2022
         img(src="./images/cham1.png", alt="")
         p Guest Farhan
     td
      span 34 min (65.2%)
     td
      span 45k
  