.episdes
 .episdes-top  
  .episdes-heading
   .episdes-title Trending episdes
   .episdes-themost The Most Popula Podcast episodes overall now. Last updated 2 hours ago
  .episdes-dropdown
   .episdes-dropdown-list 
    span Last 1 Weeks
    img(src="./images/tredingdropdown.png", alt="")
   ul.episdes-item
    li.episdes-time Last 3 days 
    li.episdes-time Last 1 month
    li.episdes-time Last 3 months  
 .episdes-dody
  +episdesItems("./images/coppy1.png")
  +episdesItems("./images/Copy2.png")
  +episdesItems("./images/Copy3.png")
  +episdesItems("./images/Coppy4.png")
  +episdesItems("./images/Copy5.png")
  +episdesItems("./images/Copy6.png")
 