.trending-posdcart
   +tredingBanner("./images/banner-trending1.png")
   +tredingBanner("./images/banner-trending1.png")
   +tredingBanner("./images/banner-trending1.png")
.trending-buttom
 each val in ["All","Shows","Episodes"]
  .trending-buttom-item= val