$font-primary: "IBM Plex Sans", sans-serif;
$primary-color: #6C5DD3;
$primary-black:#232333;
$text-gray: hsl(216, 27%, 72%, );
$text-black1: hsl(220, 10%, 12%, );
$natural: #ABABAD;
$natural01: #FCFCFC;
$gray-natural: #676A6F;
$gray-natural1:#FCFCFC;
$gray-natural2:#F0F3F6;
$gray-natural4:#E4E4E4;
$grayF8: #F8F8F8; 
$gray1: #5F6164;
$gray2: #A6A7B2;
$gray3:#494A4D;
$grayE9: #E9EEF4;
$secondary: #FFABC6;
$bg3: #373A43;
$bg-color: #fff;
$gradient: linear-gradient(92deg, #415EF4 0.33%, #7141EF 28.14%);
$text-active:#11142D;
$back90: #232333;



:root{
--primary-color: #6C5DD3;

}
