.nav  
  img(src="../images/nav1.svg", alt="")
  img(src="../images/nav4.svg", alt="")
  button 
   img.nav-upload(src="../images/nav5.png", alt="")
  img(src="../images/nav2.svg", alt="")
  img(src="../images/nav3.svg", alt="")
  button.nav-cube 
   img(src="./images/cube.svg", alt="")