.play  
 .play-heading Currently Playing
 .play-main 
  img.play-avt(src="./images/playavt.png")
  .play-name Don't Always Win | LifeSpring
  .play-info 
   p Episode 1
   img(src="./images/18.png", alt="")
   p Yahia Amin
  .play-suara 
   p 1:30
   img(src="./images/suara.png", alt="")
   p 5:59
  .play-start 
   img(src="./images/playq.png", alt="")
   img(src="./images/playw.png", alt="")
   img(src="./images/playe.png", alt="")
   img(src="./images/playr.png", alt="")
   img(src="./images/playt.png", alt="")
  .play-volumn 
   img(src="./images/volumn.png")
  img.play-sticker(src="./images/623.png")
